html {
    scroll-behavior: smooth;
  }
 
  #container{
    text-align: justify;
    font-family: Verdana,Helvetica,sans-serif;
    color: #333333;
    margin: 0 auto;
    width: 95%;
    padding: 10px;
  }

  #title{
    margin-top: 65px;
  }
  #title h1 {
    font-size: 52px;
    text-align:left;
  }
  h1, h2, #menu, button, footer span {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    font-weight: normal;
  }
  h2 { 
    font-size:27px;
  }
  #menu {
    position: fixed;
    top:12px; 
    left:0px;
  }
  #menu ul{
    display:flex;
    margin:0;
    padding-inline-start:0px;
  }
  #menu li {
    list-style: none;
    text-indent: 0;
    opacity: 1;
    transition: opacity 1.5s;
  }
  #menu li a {
    text-decoration: none;
    padding:10px;
    color: #333333;
    font-weight: bold;
    background-color: coral;
    border-right: 3px solid #ffffff;
  }
  #menu li.hidden-link {
    opacity: 0;
  }
